/* Variables */

:root {
    --dark-purple: #362140;
    --light-purple: #EBE9ED;
    --magenta: #BE185D;
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* Typography */

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-purple);
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

body {
    background-color: var(--light-purple);
}

/* Navbar */

nav {
    padding: 20px 0;
    margin-bottom: 30px;

    background-color: var(--dark-purple);
    border-bottom: 1px solid lightgray;
    box-shadow: var(--shadow-lg);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 30px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.2s ease-in;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom: 3px solid var(--magenta);
}

nav #logo,
nav #logout-wrapper {
    width: 175px;
    text-align: right;
}

nav .nav-user {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Tables */

.table {
    box-shadow: var(--shadow-md);
}

.table img {
    /* Table Icons */
    width: 30px;
}

.table thead th {
    background-color: var(--dark-purple);
    color: white;
}

/* Headings */

h1.page-title {
    font-size: 28px;
}

/* Buttons */

.btn {
    border-radius: 500px;
    text-transform: uppercase;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:hover {
    background-color: var(--magenta);
    border-color: var(--magenta);
}

.btn-outline-primary {
    border-color: var(--dark-purple);
    color: var(--dark-purple);
}

.btn-outline-primary:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

/* White Box and Forms */

.white-box {
    background-color: white;
    padding: 40px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: var(--shadow-lg);
}

label {
    margin-bottom: 6px;
}

.form-control,
.form-select {
    border: 1px solid #6c5f71;
    box-shadow: var(--shadow);
}