/* Navbar */

nav {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Tables */

#menu-table img {
    /* Table Icons */
    width: 30px;
}