/* Variables */

:root {
    --dark-purple: #362140;
    --light-purple: #EBE9ED;
    --magenta: #BE185D;
}

/* Typography */

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-purple);
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

body {
    background-color: var(--light-purple);
}

/* Navbar */

nav {
    padding: 20px 0;
    margin-bottom: 30px;

    background-color: var(--dark-purple);
    border-bottom: 1px solid lightgray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav #logo,
nav #logout-wrapper {
    width: 175px;
}

/* Tables */

.table img {
    /* Table Icons */
    width: 30px;
}

/* Headings */

h1.page-title {
    font-size: 28px;
}

/* Buttons */

.btn {
    border-radius: 500px;
    text-transform: uppercase;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:hover {
    background-color: var(--magenta);
    border-color: var(--magenta);
}

.btn-outline-primary {
    border-color: var(--dark-purple);
    color: var(--dark-purple);
}

.btn-outline-primary:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}